#body {
	height: 900px;
	background: #587ce8;
	background: -webkit-linear-gradient(#587ce8, #3ec0d1);
	background: -o-linear-gradient(#587ce8, #3ec0d1);
	background: -moz-linear-gradient(#587ce8, #3ec0d1);
	background: linear-gradient(#587ce8, #3ec0d1);
	font-family: Verdana, Geneva, sans-serif;
}
.btn-sq-lg {
	width: 150px;
	height: 150px;
	color: black;
}
.btn-primary {
	background-color: white;
	border-radius: 8px;
}
#sq1, #sq2, #sq3{
	width: 300px;
}
.profile-header-img {
	padding: 20px;
}

.profile-header-img > img.img-circle {
	width: 45px;
	height: 45px;
	border: 2px solid white;
}
.rank-label-container {
	margin-top: -19px;
	text-align: center;
}
.label.label-default.rank-label {
	background-color: rgb(81, 210, 183);
	padding: 5px 10px 5px 10px;
	border-radius: 27px;
}
.glyphicon {
	font-size: 17px;
	color: white;
}
span{
	margin-right: 20px;
}
#sap {
	margin-right: 900px;
}
#hr {
	height: 1.2px;
	border-color: #e9e9e9; 
	background: #e9e9e9;
	width: 67%;
	position: unset;
	margin-left: 110px;
	margin-top: -20px;
}
abbr {
	margin-right: 40px;
	color: #e9e9e9;
	font-size: 16px;
}
#hrInbox {
	height: 3.5px;
	border-color: white; 
	background: white;
	width: 4.5%;
	position: unset;
	margin-left: 435px;
	margin-top: 2px;
}
.test {
	height:140px; 
	border-left:6px solid red;
	margin-left: 1194px;
	margin-top: -712px;
	border-radius: 8px;
}
#box {
	background-color: #105572;
	font-size: 10px;
	width: 300px;
	padding: 10px;
	margin-left: 1200px;
	margin-top: -700px;
	display:block;
	position:absolute;
	top: 850px;
	border-radius: 8px;
	font-size: 12px;
	color: white;
}
#close {
	display:block;
	position:absolute;
	top:-43px;
	left:260px;
	position: relative;
}