#body {
	height: 900px;
	background: #587ce8;
	background: -webkit-linear-gradient(#587ce8, #3ec0d1);
	background: -o-linear-gradient(#587ce8, #3ec0d1);
	background: -moz-linear-gradient(#587ce8, #3ec0d1);
	background: linear-gradient(#587ce8, #3ec0d1);
	font-family: Verdana, Geneva, sans-serif;
}
.profile-header-img {
	padding: 20px;
}
.profile-header-img > img.img-circle {
	width: 30px;
	height: 30px;
	border: 2px solid white;
}
#itemsNav {
	border: 1px solid #696969;
}
.row {
	margin-right: 85px;
	margin-left: 100px;
}
/* for the main content */
.side-menu {
	position: absolute;
	width: 300px;
	height: 100%;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}
/* sidebar elements */
.side-menu .navbar-header {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
	background-color: transparent;
	margin-right: -1px;
	border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
	padding: 9px;
}
.side-menu .navbar-nav li a .glyphicon {
	padding-right: 10px;
}
/* Main body section */
.side-body {
	margin-left: 285px;
	background-color: white;
	padding: 10px 10px 10px;
}
#headquarters {
	margin-left: 60px;
	color: #808080;
}
#gulf {
	margin-left: 160px;
	margin-top: -80px;
	color: #1E90FF;
}
.circle {
	display: block;
	width: 80px;
	height: 80px;
	margin-left: 60px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 1px solid #87CEFA;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}
#details {
	margin-left: 160px;
	font-size: 11px;
	color: #808080;
}
#images {
	margin-left: 100px;
}
span {
	margin-right: 20px;
	color: #808080;
	font-size: 14px;
}
#description {
	font-size: 11px;
	margin-bottom: 30px;
	color: #808080;
}
#attach {
	border: none; 
	margin-left: 270px; 
	font-size: 25px;
	color: #1E90FF;
}
#reply {
	border: none;
	margin-left: 600px;
	background-color: #dbf0fd;
	border-radius: 5px; 
}
.text-block {
	position: absolute;
	margin-left: -205px;
	margin-top: 80px;
	color: white;
	background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
	color: #f1f1f1;
	height: 50px;
	width: 200px;
}